body {
    margin: 0px;
    padding: 0px;
    background-color: #498134;
}
html,body{

margin:0px;
padding: 0px;
height:100%;

}
#panel {
    min-width: 99px;
    float: left;
    background-color: #141527;
    width: 7.463157%;
    height: 100%;
    color:#FFF;
    cursor: pointer;
}
#cuerpo {
    min-width: 800px;
    float: left;
    background-color: #DDDDDD;
    width: 87.875%;/*1390/1600*/
    padding: 2.160303%;/*30/1390*/
    height: 100%;
}
#superior {
    width: 100%;
     background-color: #141527;
    height: 70px;
    color: #FFF;
    margin-top: -16px;
}

#contenedora {
    width: 100%;
}
.centrado {
    width: 1300px;
    min-width: 900px;
    margin: 0 auto;
}
#sec-login {
    width: 37.5%;
    background-color: #EEEEEE;
    border: 1px solid #000;
    border-radius: 14px;
    margin: auto;
    padding: 1.66666%;
}
#sec-login form {
    display: block;
}
#sec-login h2 {
    background-color: #5ef45e;
    height: 30px;
    color: #FFF;
}
ul li {
    list-style: none;
}
#cuerpo-inicial {
    margin-bottom: 2rem;
}
label {
    margin: 1rem;
}
/*
Botones
*/

.boton {
    -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background: -moz-linear-gradient(center top, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0;
    border: 1px solid #337fed;
    display: inline-block;
    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #1570cd;
}
.boton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background: -moz-linear-gradient(center top, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
}
.boton:active {
    position: relative;
    top: 1px;
}


nav li {
    display: inline;
    width: 50px;
    height: 25px;
    font-size: 1.1rem;
}
#menu li a {
    width: 50px;
    height: 25px;
    padding: 6px;
}
#cabecera {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #000;
    margin-bottom: 50px;
}
#index-cuerpo {
    width: 100%;
    background-color: #FFF;
}
#pie {
    width: 100%;
}
.separador {
    clear: both;
}
#menu a {
    text-decoration: none;
    color: #000;
}
#menu a:hover {
    text-decoration: none;
    color: #000;
    background-color: #c6FFc6;
}
#cuerpo-tabla {
    width: 900px;
    margin: auto;
}
.destacado {
    height: 30px;
    background-color: #FFF;
    color: #000;
    font-size: 1.2rem;
    padding: 8px;
    width: 100%;
}
#menu {
    float: right;
}
#logo {
    float: left;
}
.relleno {
    padding-top: 5%;
    padding-bottom: 25%;
}
.oculto {
    display: none;
}
#lista-acc li {
    width: 100%;
 height: 25px;
    padding: 2px;
}

#panel span {
    height: 25px;
    border-bottom: 1px solid #FFF;
    padding: 6px;
    text-align: center;
    width: 100%;
}
#panel span a{
    color:#FFF;
    text-decoration: none;
}

#panel p {
    width: 100%;
}
.miniatura{
    width: 120px;
    height: 89px;
    padding: 4px;
}
.contenido-tabla{
   width: 300px;
}
.contenido-tabla li{
   width: 100%;
   margin-bottom: 6px;
}
#tabla-index td{
    height: 89px;
    padding: 4px;
}
#tabla-index td{
    border-bottom: 1px solid #000;
 
}
#tabla-index{
    margin:auto;
    text-align: center;
}
#lista-acc {
    cursor: pointer;
}

#admin-table td {
    padding: 10px;
    text-align: center;
}
